@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #f5f9fd ;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


.main-container {
    max-width: 900px;
    padding: 30px;
}